/**********************Content header starts****************/
#WooShop__dropdown__button {
  font-size: 14px;
  min-width: 143px;
  padding: 5px;
  color: #606060;
  border: 1px solid #e6e6e6;
  background: transparent;
  text-align: left;
}
.filter__result {
  font-size: 14px;
  color: #606060;
}
.filter__icons {
  color: #606060;
}
.filter__icon {
  padding: 0 10px;
}
/**********************Content header ends****************/
