/*Customization of Bootstrap*/
// for removing horizontal scroll bar
body {
  overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap");

$font-family-sans-serif: "Poppins", sans-serif;

$carousel-control-color: invert(100%);

/* Importing Bootstrap from node_modules*/
@import "../node_modules/bootstrap/scss/bootstrap";

/* All custom css */
/* Navitation css */
body {
  background-color: #f6f6f6;
}

.wooTop__nav__items {
  color: #555252;
  //   position: relative;
  //   border-right: 1px solid #d5d4d4;
  &:hover {
    color: #a749ff;
  }
}

.wooTop__nav__item--bordered::after {
  //   border-right: 1px solid #d5d4d4;
  position: absolute;
  top: 47%;
  right: 0;
  width: 1px;
  height: 15px;
  content: "";
  transform: translateY(-50%);
  background-color: #d5d4d4;
}

.wooTop__nav__submenu {
  display: none;
}

.wooTop__nav__dropdown {
  position: relative;
}

.wooTop__nav__dropdown:hover .wooTop__nav__submenu {
  display: block;
  position: absolute;
  z-index: 220;
  top: 30px;
  left: 20px;
  width: 125px;
  padding: 8px 12px 10px;
  transition: all 0.5s ease 0s;
  transform-origin: center top 0;
  text-align: left;
  opacity: 13;
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
}
/* Navitation css ends*/

/*Main Carousel css starts*/
.carousel-control-prev {
  left: -120px;
}

.carousel-control-next {
  right: -120px;
}

#WooMain__carousel {
  // height: 70vh;
  // background: palegreen;
}

.WooMain__carousel__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: inherit;
  min-height: 100%;
  //   background: palevioletred;
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__subtitle {
      font-size: 24px;
      font-weight: 500;
      margin: 0;
      letter-spacing: 1px;
    }

    &__header {
      font-size: 52px;
      line-height: 65px;
      margin: 5px 0 27px;
    }

    &__button {
      font-size: 16px;
      line-height: 1;
      display: inline-block;
      padding: 19px 50px;
      text-transform: uppercase;
      color: #010101;
      border: 1px solid #333;
      background: transparent;

      &:hover {
        background-color: #a749ff;
        color: white;
        border: 1px solid #a749ff;
      }
    }
  }
}
/*Main Carousel css ends*/

/*Featured-banner-card css starts*/
.WooFeatCard__pad {
  padding: 15px;
}

.WooFeatCard__single {
  margin-top: 20px;
  margin-bottom: 50px;
  // margin-left: 50px;
  border: 3px solid #ffffff;
  position: relative;
  overflow: hidden;

  &:hover img {
    transform: scale(1.5);
  }

  &__content {
    position: absolute;
    top: 30px;
    left: 30px;

    &__title {
      color: #617d05;
      font-family: Cormorant Garamond;
      font-size: 36px;
      font-weight: 600;
      margin: 0;
    }

    &__price {
      font-family: Cormorant Garamond;
      font-size: 18px;
      font-weight: 600;
      margin: 3px 0 58px;
      color: #010101;

      span {
        color: #617d05;
      }
    }

    &__icon {
      color: #617d05;
      border: 2px solid #617d05;
      display: inline-block;
      width: 28px;
      height: 28px;
      border-radius: 100%;
      text-align: center;
    }
  }
}

/*Featured-banner-card css ends*/
